<main>
  <div class="content">
    <div class="statistics">
      <div class="sales total">
        <p>{{t 'statistics.salestotal'}}</p>
        <span class="amount">
          {{count-up startVal=0
                     endVal=model.sales.sales
                     duration=1.5
                     decimals=2
                     separator='.'
                     decimal=','
                     prefix='€ '}}
        </span>
      </div>
      <div class="sales today">
        <p>{{t 'statistics.salestoday'}}</p>
         <span class="amount">
           {{count-up startVal=0
                      endVal=model.salesToday.sales
                      duration=1.8
                      decimals=2
                      separator='.'
                      decimal=','
                      prefix='€ '}}
        </span>
      </div>
    {{ember-chart type='bar'  data=model.topSellingProducts.data options=model.topSellingProducts.options height=500}}
    {{ember-chart type='bar'  data=model.mostSoldProducts.data   options=model.mostSoldProducts.options   height=500}}
    {{ember-chart type='line' data=model.salesPerHour.data       options=model.salesPerHour.options       height=500}}
    </div>
  </div>
</main>

<div class="addentrybar onlyonmobile"></div>