<main>
    {{#if newRecord}}
  <div class="content new-record">
    <ul class="editable product-list">
      {{single-table table=newRecord currentSelectedRecord=currentSelectedRecord areas=model.areas isNew=true}}
   </ul>
  </div>
  {{/if}}
  <div class="list-description">
    <p>Bereich</p>
    <p>Tischanzahl</p>
  </div>
  <div class="content">
    <ul class="editable area-list">
      {{#each model.areas as |area|}}
        <li>
          <div class="single-area {{if area.enabled 'available'}}" {{action 'toggleTables'}}>
            <p class="singleareaname">{{area.name}}</p>
            <p class="singleareatablecount">{{area.persistedTables.length}}</p>
          </div>
          <div class="tablearea">
            <ul class="table-list editable">
              {{#each area.persistedTables as |table|}}
                {{single-table table=table currentSelectedRecord=currentSelectedRecord areas=model.areas}}
              {{/each}}
            </ul>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</main>

{{main-controlbar setRecord=(action 'createRecord') currentSelectedRecord=currentSelectedRecord isNew=(if newRecord true false)}}