<main>
  <div class="list-description">
    <p>Bereich</p>
    <p>Tischanzahl</p>
  </div>
  <div class="content">
    <ul class="editable area-list">
      {{#each model.areas as |area|}}
        <li>
          <div class="single-area" {{action 'toggleTables'}}>
            <p class="singleareaname">{{area.name}}</p>
            <p class="singleareatablecount">{{area.tables.length}}</p>
          </div>
          <div class="tablearea">
            <ul class="table-list editable">
              {{#each area.tables as |table|}}
                {{single-table table=table areas=model.areas}}
              {{/each}}
            </ul>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</main>

{{main-controlbar}}