<div class="login">
  <div class="wrapper">
    <img src="./assets/images/logo-gmbhtext.svg">
    <div class="login-form">
      {{#link-to 'index'}}<button autofocus>{{t 'button.reload'}}</button>{{/link-to}}
      <button autofocus {{action 'logout'}}>{{t 'button.logout'}}</button>
      {{#if model.message}}
        <div class="error">
          {{if model.errors.msg (t model.errors.msg) (t 'notification.error')}}
        </div>
      {{/if}}
    </div>
    <p>{{t "copyright"}}</p>
  </div>
</div>
{{outlet}}
