<div class="login">
  <div class="wrapper">
    <img src="./assets/images/logo.png">
    <div class="login-form">
      <form {{action 'authenticate' on='submit'}}>
        <label for="identification">{{t "input.username"}}</label>
        {{input id='identification' placeholder=(t "input.enterUsername") value=identification}}
        <label for="password">{{t "input.password"}}</label>
        {{input id='password' placeholder=(t "input.enterPassword") type='password' value=password}}
        <button type="submit">{{t "button.login"}}</button>
      </form>
      {{#if errorMessage}}
        <div class="error">
          {{errorMessage}}
        </div>
      {{/if}}
    </div>
    <p>{{t "copyright"}}</p>
  </div>
</div>
{{outlet}}
