<td>{{input disabled=toggle value=area.name}}</td>
{{#if toggle}}
  <td><button {{action "toggle"}}>Bearbeiten</button></td>
  <td><button {{action "delete"}}>Löschen</button></td>
{{else}}
  <td><button {{action "toggle"}}>Abbrechen</button></td>
  <td><button {{action "updateTable"}}>Speichern</button></td>
{{/if}}