<td>{{input type="text" value=category.name disabled=isShowingUpdate}}</td>
<td>{{input type="text" value=category.enabled disabled=isShowingUpdate}}</td>
<td>{{input type="text" value=category.description disabled=isShowingUpdate}}</td>
<td>{{input type="text" value=category.showAmount disabled=isShowingUpdate}}</td>
<select {{action 'selectPrinter' on='change'}} disabled={{isShowingUpdate}} id="printer-select">
  <option value=null selected={{eq category.printer null}}> </option>
  {{#each printers as |printer|}}
  <option value="{{printer.name}}" selected={{eq category.printer printer.name}}>
    {{printer.name}}
  </option>
  {{/each}}
</select>
{{#if isShowingUpdate}}
<td><button {{action "toggle"}}>Bearbeiten</button></td>
<td><button {{action "destroyCategory"}}>Löschen</button></td>
{{else}}
<td><button {{action "toggle"}}>Abbrechen</button></td>
<td><button {{action "save"}}>Speichern</button></td>
{{/if}}