<td>{{input type="text" value=category.name disabled=isShowingUpdate}}</td>
<td>{{input type="text" value=category.enabled disabled=isShowingUpdate}}</td>
<td>{{input type="text" value=category.description disabled=isShowingUpdate}}</td>
<td>{{input type="text" value=category.showAmount disabled=isShowingUpdate}}</td>
{{#if isShowingUpdate}}
  <td><button {{action "toggle"}}>Bearbeiten</button></td>
  <td><button {{action "destroyCategory"}}>Löschen</button></td>
{{else}}
  <td><button {{action "toggle"}}>Abbrechen</button></td>
  <td><button {{action "save"}}>Speichern</button></td>
{{/if}}