<td>{{input type="text" value=name key-up="toggleButton"}}</td>
<td>{{input type="text" value=enabled key-up="toggleButton"}}</td>
<td>{{input type="text" value=description key-up="toggleButton"}}</td>
<td>{{input type="text" value=showAmount key-up="toggleButton"}}</td>
<td><button {{action "createCategory"}} disabled={{toggle}}>save</button></td>