<tr><td>Anzeigename:</td><td>{{input type="text" value=setting.name disabled=toggle}}</td></tr>

<tr><td>Bezahlansicht direkt nach Bestellabschluss: (Festmodus)</td><td>{{input type="checkbox"  name=setting.instantPay checked=setting.instantPay disabled=toggle}}{{setting.instantPay}}</td></tr>
<tr><td><button {{action "toggle"}}>Bearbeiten</button></td><td><button {{action "updateItem"}} disabled={{toggle}}>Speichern</button></td></tr>