<td>{{input disabled=toggle value=table.name}}</td>
<td>
  <select {{action 'selectTagType' on='change'}} disabled={{toggle}} id="tag-type-select">
    {{#each areas as |area|}}
      <option value="{{area.id}}" selected={{eq area.id table.area.id}}>
        {{area.name}}
      </option>
    {{/each}}
  </select>
</td>
{{#if toggle}}
  <td><button {{action "toggle"}}>Bearbeiten</button></td>
  <td><button {{action "delete"}}>Löschen</button></td>
{{else}}
  <td><button {{action "toggle"}}>Abbrechen</button></td>
  <td><button {{action "updateTable"}}>Speichern</button></td>
{{/if}}