{{yield}}
<div class="foot">
  <button {{on 'click' this.close}} class="button-grey default-btn">{{t "button.abort"}}</button>
  <button {{on 'click' this.discardOrder}} class="button-orange default-btn">{{t "button.discard"}}</button>
</div>