<h2>{{t "order.order" count=1}}</h2>
<div class="scrollable">
  <table>
  {{#each order.orderitems as |orderitem|}}
    {{order-detail/single-item
      orderitem=orderitem
      removeItemFromOrder=(action 'removeItemFromOrder')
    }}
  {{/each}}
  </table>
</div>
<div class="flexcontainer table_sum">
  {{#unless user.isCashier}}
    {{#if order.table.name}}
      <button {{action 'showModal'}} class="tablebutton" style={{tableButtonStyle}}>{{t "order.table" count=1}}: {{order.table.shortname}}</button>
    {{else}}
      <button {{action 'showModal'}} class="tablebutton required">{{t "button.noTable"}}</button>
    {{/if}}
  {{/unless}}
  <p class="sum">{{t "order.sum"}}: € {{show-currency openAmount}}</p>
</div>
<div class="menu--desktop">
  <div class="flexcontainer">
    {{#if order.table.name}}
      {{#if order.orderitems}}
        <button {{action 'saveOrder'}} class="bigbutton default-btn">{{t "button.submit"}}</button>
      {{else}}
        <span class="empty-order default-btn">{{t "order.empty"}}</span>
      {{/if}}
    {{else if user.isCashier}}
      {{#if order.orderitems}}
        <button {{action 'saveOrder'}} class="bigbutton default-btn">{{t "button.submit"}}</button>
      {{else}}
        <span class="empty-order default-btn">{{t "order.empty"}}</span>
      {{/if}}
    {{else}}
      <button {{action 'showModal'}} class="bigbutton default-btn">{{t "button.selectTable"}}</button>
    {{/if}}
  </div>
  <div class="flexcontainer">
    <button {{action 'returnButton'}} class="smallbutton default-btn">{{t "button.back"}}</button>
    <button {{action 'showModal2'}} class="smallbutton default-btn">{{t "button.discardOrder"}}</button>
  </div>
</div>
<div class="menu--mobile">
  <button {{action 'returnButton'}} class="smallbutton default-btn">
    <span class="icon icon-return"></span>
  </button>
  <button {{action 'showModal2'}} class="smallbutton smallbutton--delete default-btn">
    <span class="icon icon-garbage"></span>
  </button>
  {{#if order.table.name}}
    {{#if order.orderitems}}
      <button {{action 'saveOrder'}} class="smallbutton smallbutton--submit default-btn">
        <span class="icon icon-send"></span>
      </button>
    {{else}}
      <button {{action 'returnButton'}} class="smallbutton default-btn">
        <span class="icon icon-prohibited"></span>
      </button>
    {{/if}}
  {{else if user.isCashier}}
     {{#if order.orderitems}}
      <button {{action 'saveOrder'}} class="smallbutton smallbutton--submit default-btn">
        <span class="icon icon-send"></span>
      </button>
    {{else}}
      <button {{action 'returnButton'}} class="smallbutton default-btn">
        <span class="icon icon-prohibited"></span>
      </button>
    {{/if}}
  {{else}}
    <button {{action 'showModal'}} class="smallbutton smallbutton--submit default-btn">
      <span class="icon icon-table"></span>
    </button>
  {{/if}}
</div>
