  <td>{{input type="text" value=username}}</td>
  <td>{{input type="text" value=firstname}}</td>
  <td>{{input type="text" value=lastname}}</td>
  <td>{{input type="text" value=password}}</td>
  <td>{{input type="text" value=permission}}</td>
  <td><button {{action "createUser"}}>save</button></td>