<td>{{input type="text" value=name action="toggleButton" on="key-up"}}</td>
<td>{{input type="text" value=enabled action="toggleButton" on="key-up"}}</td>
<td>{{input type="text" value=description action="toggleButton" on="key-up"}}</td>
<td>{{input type="text" value=showAmount action="toggleButton" on="key-up"}}</td>
<td><button {{action "createCategory"}} disabled={{toggle}}>save</button></td>