  <td>{{input type="text" value=name}}</td>
  <td>{{input type="text" value=amount}}</td>
  <td>{{input type="text" value=price}}</td>
  <td>{{input type="text" value=tax}}</td>
  <td>{{input type="text" value=unit}}</td>
  <td>{{input type="text" value=category}}</td>
  <td><button {{action "createItem"}}>save</button></td>