{{#if isShowingUpdate}}
  <td>{{input type="text" value=item.name}}</td>
  <td>{{input type="text" value=item.amount}}</td>
  <td>{{input type="text" value=item.price}}</td>
  <td>{{input type="text" value=item.tax}}</td>
  <td>{{input type="text" value=item.unit}}</td>
  <td>{{input type="text" value=item.category}}</td>
  <td><button {{action "toggleUpdate" item}}>save</button></td>
{{else}}
  <td>{{item.name}}</td>
  <td>{{item.amount}}</td>
  <td>{{item.price}}</td>
  <td>{{item.tax}}</td>
  <td>{{item.unit.name}}</td>
  <td>{{item.category.name}}</td>
  <td><button {{action "toggleUpdate"}}>edit</button></td>
  <td><button {{action "destroyItem" item}}>X</button></td>
{{/if}}
