<td>{{input type="text" value=username action="toggleButton" on="key-up"}}</td>
<td>{{input type="text" value=firstname action="toggleButton" on="key-up"}}</td>
<td>{{input type="text" value=lastname action="toggleButton" on="key-up"}}</td>
<td>{{input type="text" value=password action="toggleButton" on="key-up"}}</td>

{{#x-select value=permission}}
  {{#x-option value=1}}Waiter{{/x-option}}
  {{#x-option value=0}}Admin{{/x-option}}
  {{!-- {{#x-option value=2}}Servierer{{/x-option}} --}}
{{/x-select}}
<td><button {{action "createUser"}} disabled={{toggle}}>save</button></td>