{{yield}}
<div class="button-group">
  <button class="default-btn button-blue" {{action 'sub'}}>-</button>
  <div class="input">{{input value=amount type='number'}}</div>
  <button class="default-btn button-blue" {{action 'add'}}>+</button>
</div>
<div>
  {{input}}
</div>
<div class="foot">
  <button {{action 'close'}} class="button-grey default-btn">Abbrechen</button>
  <button class="button-blue default-btn">Übernehmen</button>
</div>