<div class="modal-box">
  <div class="head">
    <h1>{{headline}}</h1>
  </div>
  <div class="body">
    {{yield}}
  </div>
  <div class="foot">
    {{#if false}}
    <button {{action 'close'}} class="button-grey default-btn">Abbrechen</button>
    <button class="button-blue default-btn">Übernehmen</button>
    {{else}}
    <button {{action 'close'}} class="button-grey big default-btn">Abbrechen</button>
    {{/if}}
  </div>
</div>