{{#each order as |orderItem|}}
<tr>
  <td>{{orderItem.name}}</td>
  <td>{{orderItem.amount}} {{orderItem.unit.name}}</td>
  <td>{{orderItem.category.name}}</td>
  <td>{{orderItem.price}} €</td>
</tr>
{{/each}}