{{yield}}
{{#if order.id}}
  <td>Bestellung {{order.showNumber}}</td>
  <td>
    Tisch: {{order.table.name}}
    <span class="spacer"></span>
    bestellt um: {{show-time order.createdAt}}
    <span class="spacer"></span>
    offen: € {{show-currency openAmount}}
  </td>
  <td>{{#if (eq paid "paid")}}Bezahlt{{else}}Offen{{/if}}</td>
{{/if}}