<div class="flexcontainer">
  <h2>Bestellung #{{order.id}}</h2>
  {{#if order.isPaid}}
  <h2 class="isPaid">bezahlt</h2>
  {{else}}
  <h2 class="notPaid">offen</h2>
  {{/if}}
</div>
{{#if payOrder.totalAmount}}
<h3>Splitrechnung</h3>
<br>
<table>
  {{#each-in payOrder.items as |id item|}}
  {{order-detail-view-item orderItem=item viewOrder=viewOrder payOrder=payOrder pay="true" css="topay"}}
  {{/each-in}}
</table>
<div class="flexcontainer">
  <p class="sum"></p>
  <p class="sum">Summe: € {{showCurrency payOrder.totalAmount}}</p>
</div>
<br>
{{/if}}
{{#if order.isPaid}}
<h3>Bezahlte Posten</h3>
{{else}}
<h3>Offene Posten</h3>
{{/if}}

<br>
<table>
  {{#each-in viewOrder.items as |id item|}}
  {{#unless item.isPaid}}
  {{order-detail-view-item orderItem=item viewOrder=viewOrder payOrder=payOrder pay="false" css="notpaid"}}
  {{/unless}}
  {{/each-in}}
</table>
<table>
  {{#each-in viewOrder.items as |id item|}}
  {{#if item.isPaid}}
  {{order-detail-view-item orderItem=item viewOrder=viewOrder payOrder=payOrder pay="false" css="paid"}}
  {{/if}}
  {{/each-in}}
</table>

<div class="flexcontainer">
  <p class="sum">Tisch: {{order.table.name}}</p>
  <p class="sum">Summe: € {{showCurrency viewOrder.totalAmount}}</p>
</div>
{{#if payOrder.totalAmount}}
<div class="flexcontainer">
  <button {{action "paySelected"}} class="bigbutton default-btn">Auswahl bezahlen</button>
</div>
{{/if}}
<div class="flexcontainer">
  <button {{action "goToOrderOverview"}} class="smallbutton-grey">zurück</button>
  {{#if order.isPaid}}
  <button class="smallbutton-blue">Kopie Drucken</button>
  {{else}}
  <button {{action 'payAll'}} class="smallbutton-blue">Alles bezahlen</button>
  {{/if}}

</div>