{{yield}}
<td>Bestellung #{{order.id}}</td>
<td>Tisch: {{order.table.name}}</td>
<td>Bestellzeit: {{show-time order.createdAt}}</td>
<td>Betrag: {{order.orderitems.firstObject.item.price}}</td>
<td>{{status}}</td>