{{#if isTabbed}}
<td class="disabled">{{orderitem.count}} x</td>
<td class="disabled" style="width= 100%">{{orderitem.item.name}}</td>
<td class="disabled">Abbrechen</td>
<td {{action 'removeItemFromOrder'}}class="disabled">Löschen</td>
{{else}}
<td>{{orderitem.count}} x</td>
<td colspan="2">{{orderitem.item.name}} {{show-amount orderitem.item.amount}}{{orderitem.item.unit.name}}<span> {{orderitem.extras}}</span></td>
<td>€ {{show-currency (multiply orderitem.price orderitem.count)}}</td>
{{/if}}