<h2>Bestellung</h2>
<table>
  {{#each-in viewOrder.items as |id data|}}
  {{orderlist-item data=data removeItemFromOrder=(action 'removeItemFromOrder')}}
  {{/each-in}}
</table>
<div class="flexcontainer">
  {{#if order.table.name}}
  <button {{action 'showModal'}} class="tablebutton">Tisch: {{order.table.name}}</button>
  {{else}}
  <button {{action 'showModal'}} class="tablebutton required">Tisch auswählen</button>
  {{/if}}
  <p class="sum">Summe: € {{viewOrder.totalAmount}}</p>
</div>
<div class="flexcontainer">
  {{#if order.table.name}}
  {{#if order.orderitems}}
  <button {{action 'saveOrder'}} class="bigbutton default-btn">Abschicken</button>
  {{else}}
  <span class="empty-order default-btn">Bestellung ist leer!</span>
  {{/if}}
  {{else}}
  <button {{action 'showModal'}} class="bigbutton default-btn">Tisch auswählen</button>
  {{/if}}
</div>
<div class="flexcontainer">
  <button {{action 'goToOrderScreen'}} class="smallbutton default-btn">zurück</button>
  <button {{action 'showModal2'}} class="smallbutton default-btn">Bestellung verwerfen</button>
</div>
