<td>{{computedCount}} x</td>
<td colspan="2">{{orderitem.item.name}} {{orderitem.countMarked }}
  {{#if orderitem.item.category.showAmount}} {{show-amount orderitem.item.amount}} {{orderitem.item.unit.name}}{{/if}}<span> {{orderitem.extras}}</span>
</td>
{{#if orderitem.forFree}}
<td>FREI</td>
{{else}}
<td>€ {{showCurrency sum}}</td>
{{/if}}