<tr>
  <td><button {{action "deleteOrderItem"}}>Löschen</button></td>
  <td>{{orderItem.name}}</td>
  <td>{{orderItem.amount}} {{orderItem.unit.name}}</td>
  <td>{{orderItem.category.name}}</td>
  <td>{{orderItem.price}} €</td>
  <td>Nr. {{index}}</td>
</tr>