{{#if isTabbed}}
<td class="disabled">{{data.amount}} x</td>
<td class="disabled" style="width= 100%">{{data.name}}</td>
<td class="disabled">Abbrechen</td>
<td {{action 'removeItemFromOrder'}}class="disabled">Löschen</td>
{{else}}
<td>{{data.amount}} x</td>
<td colspan="2">{{data.name}} {{show-amount data.showAmount}}{{data.unitName}}<span> {{data.extras}}</span></td>
<td>€ {{show-currency data.prize}}</td>
{{/if}}