{{yield}}
{{#if order.id}}
<td>Bestellung #{{order.id}}</td>
<td>
  Tisch: {{order.table.name}}
  <span class="spacer"></span>
  Bestellzeit: {{show-time order.createdAt}}
  <span class="spacer"></span>
  Betrag: {{order.orderitems.firstObject.item.price}}
</td>
<td>{{#if order.isPaid}}Bezahlt{{else}}Offen{{/if}}</td>
{{/if}}