<p>{{category.name}}</p>
<p>{{category.enabled}}</p>
<p>{{category.description}}</p>

{{#each item in category.items}}
{{item.name}}
{{/each}}

{{#each category.items as |item|}}
{{item.name}}
{{/each}}
