{{yield}}

<div class="pay-main__switch">
  <button {{action "filterButtonOrder"}} class="default-btn">Bestellungen</button>
  <button {{action "filterButtonTables"}} class="default-btn">Tische</button>
</div>
{{#if (eq filter "orders")}}
  <div class="orders">
    <h2>Bestellungen</h2>
    <div class="scrollable">
      <table>
        {{#each paidOrders as |order|}}
          {{pay-main/single-order order=order actualOrder=actualOrder goToOrderDetail=(action "orderClick")}}
        {{/each}}

        {{#each openOrders as |order|}}
          {{pay-main/single-order order=order actualOrder=actualOrder goToOrderDetail=(action "orderClick")}}
        {{/each}}
      </table>
    </div>
    <div class="flexcontainer">
      <button {{action "backButton"}} class="default-btn bigbutton">zurück</button>
    </div>
  </div>
{{/if}}
{{#if (eq filter "tables")}}
  <div class="tables">
    <h2>Tables</h2>
    <div class="scrollable">
      {{#each tables as |table|}}
        {{#unless (eq table.openAmount 0) }}
          {{pay-main/single-table table=table actualOrder=actualOrder goToOrderDetail=(action "orderClick")}}
        {{/unless}}
      {{/each}}
    </div>
    <div class="flexcontainer">
      <button {{action "backButton"}} class="default-btn bigbutton">zurück</button>
    </div>
  </div>
{{/if}}
