{{yield}}
<div class="order-overview__switch flexcontainer">
 <button {{action "filterButtonOrder"}} class="default-btn bigbutton">Bestellungen</button>
 <button {{action "filterButtonTables"}} class="default-btn bigbutton">Tische</button>
</div>
{{#if (eq filter "orders")}}
  <div class="orders">
    <h2>Bestellungen</h2>
    <div class="scrollable">
      <table>
        {{#each openOrders as |order|}}
          {{order-overview-item order=order actualOrder=actualOrder gotToOrderDetail=(action "orderClick")}}
        {{/each}}

        {{#each paidOrders as |order|}}
          {{order-overview-item order=order actualOrder=actualOrder gotToOrderDetail=(action "orderClick")}}
        {{/each}}
      </table>
    </div>
<div class="flexcontainer">
<button {{action "backButton"}} class="default-btn bigbutton">zurück</button>
</div>
  </div>
{{/if}}
{{#if (eq filter "tables")}}
  <div class="tables">
    <h2>Tables</h2>
    <div class="scrollable">
      {{#each tables as |table|}}
        {{#if table.orderitems}}
          <div>Table: {{table.name}}<br>
            {{#each table.orderitems as |item|}}
              {{item.id}}
            {{/each}}
          </div>
        {{/if}}
        
      {{/each}}
    </div>
  </div>
{{/if}}
