{{yield}}
<div class="pay-main__switch ">
 <button {{action "filterButtonOrder"}} class="default-btn {{if (eq filter 'orders') 'active' ''}}">{{t "order.order" count=2}}</button
 ><button {{action "filterButtonTables"}} class="default-btn {{if (eq filter 'tables') 'active' ''}}">{{t "order.opentable" count=2}}</button>
</div>
{{#if (eq filter "orders")}}
  <div class="orders">
    <div class="scrollable">
      <table>
        {{#each paidOrders as |order|}}
          {{pay-main/single-order order=order actualOrder=actualOrder goToOrderDetail=(action "orderClick")}}
        {{/each}}

        {{#each openOrders as |order|}}
          {{pay-main/single-order order=order actualOrder=actualOrder goToOrderDetail=(action "orderClick")}}
        {{/each}}
      </table>
    </div>
  </div>
{{/if}}
{{#if (eq filter "tables")}}
  <div class="tables">
    <div class="scrollable">
      {{#each tables as |table|}}
        {{#unless (eq table.openAmount 0) }}
          {{pay-main/single-table table=table actualOrder=actualOrder goToOrderDetail=(action "orderClick")}}
        {{/unless}}
      {{/each}}
    </div>
  </div>
{{/if}}
 <div class="flexcontainer desktop">
    <button {{action "backButton"}} class="default-btn bigbutton">{{t "button.back"}}</button>
  </div>
  <div class="flexcontainer mobile">
    <button {{action "backButton"}} class="default-btn bigbutton">
      <span class="icon icon-return"></span>
    </button>
  </div>