{{yield}}
{{#if order.id}}
  {{#if order.table}}
    <td>{{t "order.order" count=1}} {{order.showNumber}}</td>
    <td>
      {{t "order.table" count=1}}: {{order.table.name}}
      <span class="spacer"></span>
      {{t "order.orderedAt"}}: {{show-time order.createdAt}}
      <span class="spacer"></span>
      {{t "order.notPaid"}}: € {{show-currency openAmount}}
    </td>
    {{else}}
      <td>{{t "order.register"}} {{order.showNumber}}</td>
      <td>
        {{t "order.register"}}
        <span class="spacer"></span>
        {{t "order.orderedAt"}}: {{show-time order.createdAt}}
        <span class="spacer"></span>
        {{t "order.notPaid"}}: € {{show-currency openAmount}}
      </td>
    {{/if}}
  <td>{{#if (eq paid "paid")}}{{t "order.paid"}}{{else}}{{t "order.notPaid"}}{{/if}}</td>
{{/if}}
