{{yield}}
{{#if order.id}}
  {{#if order.table}}
    <td>{{t "order.order" count=1}} {{order.showNumber}}</td>
  {{else}}
    <td>{{t "order.register"}} {{order.showNumber}}</td>
  {{/if}}
  <td>{{order.table.name}}</td>
  <td>{{show-time order.createdAt}}</td>
  <td class="time">€ {{show-currency openAmount}}</td>
  <td>{{#if (eq paid "paid")}}{{t "order.paid"}}{{else}}{{t "order.notPaid"}}{{/if}}</td>
{{/if}}
