{{yield}}
<div class="foot">
  <button {{action 'close'}} class="button-grey default-btn">{{t "button.abort"}}</button>
  <button {{action 'discardOrder'}} class="button-orange default-btn">{{t "button.discard"}}</button>
</div>