{{yield}}

{{#if settings.firstObject.customTables}}
  <div class="navbar">
    <button onclick={{action 'changeTab' 'tables'}}>Tische</button>
    <button onclick={{action 'changeTab' 'guests'}}>Gäste</button>
    <button onclick={{action 'changeTab' 'new'}}>Neuer Gast</button>
  </div>
{{/if}}

<div class="table-mask">
{{#if showTables}}
  {{#each userAreas as |area|}}
    <h3>{{area.name}}</h3>
    {{modals/table-select/table-select-group tables=area.tables setTable=(action "setTable")}}
  {{/each}}

  {{#each otherAreas as |area|}}
    <h3>{{area.name}}</h3>
    {{modals/table-select/table-select-group tables=area.tables setTable=(action "setTable")}}
  {{/each}}

  {{#if unassignedTables}}
    <h3>Nicht zugewiesene Tische</h3>
  {{/if}}
  {{modals/table-select/table-select-group tables=unassignedTables setTable=(action "setTable")}}
{{else if showGuests}}
   <button onclick={{action 'changeTab' 'new'}} class= 'table-item button-blue default-btn'>+</button>
   {{modals/table-select/table-select-group tables=customTables setTable=(action "setTable")}}
{{else if showNew}}
  <div class="input">{{input value=name type='text' autofocus='autofocus'}}</div>
  <button class="button-blue  button-modal" onclick={{action 'createTable'}}>Erstellen</button>
{{/if}}
</div>