{{yield}}

{{#if settings.firstObject.customTables}}
  <div class="table-select__switch">
    <button class="default-btn {{if (eq activeTab 'tables') 'active' ''}}" onclick={{action 'changeTab' 'tables'}}>Tische</button
    ><button class="default-btn {{if (eq activeTab 'guests') 'active' ''}}" onclick={{action 'changeTab' 'guests'}}>Gäste</button>
  </div>
{{/if}}

<div class="table-mask">
{{#if (eq activeTab 'tables')}}
  {{#each userAreas as |area|}}
    <h3>{{area.name}}</h3>
    {{modals/table-select/table-select-group tables=area.tables setTable=(action "setTable")}}
  {{/each}}

  {{#each otherAreas as |area|}}
    <h3>{{area.name}}</h3>
    {{modals/table-select/table-select-group tables=area.tables setTable=(action "setTable")}}
  {{/each}}

  {{#if unassignedTables}}
    <h3>Nicht zugewiesene Tische</h3>
    {{modals/table-select/table-select-group tables=unassignedTables setTable=(action "setTable")}}
  {{/if}}
{{else if (eq activeTab 'guests')}}
   <div onclick={{action 'changeTab' 'new'}} class= 'table-item button-blue'>
     <div class="button">
       <p class="label">+</p>
      </div>
    </div>
   {{modals/table-select/table-select-group tables=customTables setTable=(action "setTable")}}
{{else if (eq activeTab 'new')}}
  <h2>{{t "table.newGuest"}}</h2>
  <div class="input">{{input value=name type='text' autofocus='autofocus'}}</div>
  <button class="button-blue default-btn submit" onclick={{action 'createTable'}}>Erstellen</button>
{{/if}}
</div>