<div class="flexcontainer">
  {{#if (eq type 'table')}}
    <h2>Tisch {{order.name}}</h2>
  {{else}}
    <h2>Bestellung #{{order.id}}</h2>
  {{/if}}
  {{#if open}}
    <h2 class="notPaid">offen</h2>
  {{else}}
    <h2 class="isPaid">bezahlt</h2>
  {{/if}}
</div>
<br>
<div class="scrollable">
  <table>
    {{#each orderitems as |orderitem|}}
      {{pay-detail/single-item orderitem=orderitem type="open" css="notpaid"}}
    {{/each}}
  </table>
  <table>
    {{#each paidOrderitems as |orderitem|}}
      {{pay-detail/single-item orderitem=orderitem type="paid" css="paid"}}
    {{/each}}
  </table>
</div>

<div class="flexcontainer">
  <p class="sum">Tisch: {{order.table.name}}</p>
  <p class="sum">Summe: € {{show-currency openAmount}}</p>
</div>
<br>

{{#if markedOrderitems}}
<h3>Splitrechnung</h3>
<br>
<div class="scrollable-pay">
  <table>
    {{#each markedOrderitems as |orderitem|}}
    {{pay-detail/single-item orderitem=orderitem type="marked" css="topay"}}
    {{/each}}
  </table>
</div>

<div class="flexcontainer">
  <p class="sum"></p>
  <p class="sum">Summe: € {{show-currency markedAmount}}</p>
</div>
<br>
{{/if}}
<div>
  {{#if open}}
    {{input id="voucher" type="checkbox" checked=forFree}} <label for="voucher">Mit Gutschein bezahlen</label>
  {{/if}}
</div>
{{#if markedOrderitems}}
<div class="flexcontainer">
  <button {{action "paySelected"}} class="bigbutton default-btn">Auswahl bezahlen</button>
</div>
{{/if}}
<div class="flexcontainer">
  <button {{action "goToPayMain"}} class="smallbutton-grey">
    {{#if settings.firstObject.instantPay}}
    Meine Bestellungen anzeigen
    {{else}}
    zurück
    {{/if}}
  </button>
  {{#if open}}
    <button {{action 'payAll'}} class="smallbutton-blue">Alles bezahlen</button>
  {{else}}
    <button {{action "printBill"}} class="smallbutton-blue">Rechnung drucken</button>
  {{/if}}
</div>
<div class="flexcontainer">
  {{#if settings.firstObject.instantPay}}
  <button {{action 'goToOrderScreen'}} class="bigbutton default-btn">neue Bestellung aufnehmen</button>
  {{/if}}
</div>