<div class="single-printer" {{action 'toggleEditable'}}>
  <p>{{printer.name}}</p>
  <div class="singleprintindicator material-icons" {{action "testPrint" bubbles=false}}>print</div>
</div>
{{#if isOpen}}
<div class="editsingleproduct editarea">
  <div class="input-row">
    <div class="input-element">
      <label for="name">{{t 'labels.name'}}</label>
      {{input type="text" value=printer.name name="name"}}
    </div>
    <div class="input-element">
    <label for="name">{{t 'labels.model'}}</label>
´    <input disabled="" type="text" name="type" value="{{printer.systemName}}">
    </div>
  </div>
  <div class="input-row align-right">
    <button class="save"{{action "updatePrinter" printer}}>{{t 'buttons.save'}}</button>
    <button class="delete" {{action "destroyPrinter"}}><span class="material-icons">delete</span>{{t 'buttons.delete'}}</button>
   </div>
</div>
{{/if}}