<div class="single-area" {{action "toggleEditable"}} style="background:{{area.color}}">
  <p>
    {{#if isNew}}
      {{t 'new.area'}}
    {{else}}
      {{area.name}}
    {{/if}}
  </p>
  <div class="singleeditindicator material-icons">mode_edit</div>
</div>
{{#if isOpen}}
  <div class="editsinglearea editarea">
    <div class="input-row">
      <div class="input-element">
        <label for="name">{{t 'labels.name'}}</label>
        {{input value=area.name}}
      </div>
    </div>
    <div class="input-row">
      <div class="input-element">
        <label for="short">Kurzbezeichnung</label>
        {{input value=area.short}}
      </div>
    </div>
    <div class="input-row align-right">
       <button class="save" {{action "updateArea"}}>{{t 'buttons.save'}}</button>
      {{#unless isNew}}<button class="delete" {{action "destroyArea"}}><span class="material-icons">delete</span>{{t 'buttons.delete'}}</button>{{/unless}}
    </div>
  </div>
{{/if}}
