<div class="single-unit" {{action "toggleEditable"}}>
  <p>{{if isNew (t 'new.unit') unit.name}}</p>
  <div class="singleeditindicator material-icons">{{#if isNew}}close{{else if isOpen}}keyboard_arrow_down{{else}}mode_edit{{/if}}</div>
</div>
{{#if isOpen}}
<div class="editsingleunit editarea">
  <div class="input-row">
    <div class="input-element">
      <label for="unit">{{t 'labels.unitname'}}</label>
      {{input type="text" value=unit.name name="unitname"}}
    </div>
  </div>
  <div class="input-row align-right">
    <button class="save" {{action "updateUnit"}}>{{t 'buttons.save'}}</button>
    {{#unless isNew}}<button class="delete" {{action "destroyUnit"}}><span class="material-icons">delete</span>{{t 'buttons.delete'}}</button>{{/unless}}
  </div>
</div>
{{/if}}