<div class="single-category" {{action "toggleEditable"}} style="background:{{category.color}}">
<span class="iconfont {{category.icon}}"></span>
  <p>{{category.name}}</p>
  <div class="singleeditindicator material-icons">mode_edit</div>
</div>
<div class="editsinglecategory editarea">
  <div class="input-row">
    <div class="input-element">
      <label for="name">Name</label>
      {{input type="text" value=category.name name="name"}}
    </div>
    <div class="input-element">
      <label for="icon">Icon</label>
      <div class="select-wrapper iconselector">
        <span class="icondot iconfont {{category.icon}}" onclick={{action (mut isShowingIcons) true}}></span>
        <select name="icon" onclick={{action (mut isShowingIcons) true}} onchange={{action (mut category.icon) value="target.value"}}>
        </select>
        {{modal-iconpicker switch=isShowingIcons icons=icons category=category}}
      </div>
    </div>
    <div class="input-element">
      <label for="printer">Drucker</label>
      <div class="select-wrapper">
        <select onchange={{action (mut category.printer) value="target.value"}}>
        {{#each printers as |printer|}}
          <option value="{{printer.name}}" selected={{eq category.printer printer.name}}>{{printer.name}}</option>
        {{/each}}
      </select>
      </div>
    </div>
    <div class="input-element">
      <label for="color">Farbe</label>
      <div class="select-wrapper colorselector">
      <span class="colordot" onclick={{action (mut isShowingColors) true}} style="background:{{category.color}}"></span>
        <select name="color" onclick={{action (mut isShowingColors) true}}>
        </select>
        {{modal-colorpicker switch=isShowingColors colors=colors category=category}}
      </div>
    </div>
  </div>
  <div class="input-row align-right">
    <button class="save" {{action "updateCategory" category}}>Speichern</button>
    <button class="delete" {{action "destroyCategory" category}}><span class="material-icons">delete</span>Löschen</button>
  </div>
</div>
