<div class="singleuserbar" {{action "toggleEditable"}}>
  <div class="singleusername">{{user.username}}</div>
  <div class="singleauth">{{user.permission}}</div>
  <div class="singlepwindicator material-icons">vpn_key</div>
  <div class="singleeditindicator material-icons">mode_edit</div>
</div>
<div class="editsingleuser editarea">
  <div class="input-row">
    <div class="input-element">
      <label for="username">Username</label>
      {{input type="text" value=user.username name="username"}}
    </div>
    <div class="input-element">
      <label for="firstname">Vorname</label>
      {{input type="text" value=user.firstname name="firstname"}}
    </div>
    <div class="input-element">
      <label for="lastame">Nachname</label>
      {{input type="text" value=user.lastname name="lastname"}}
    </div>
    <div class="input-element">
      <label for="authentication">Berechtigung</label>
      <div class="select-wrapper">
        <select onchange={{action (mut user.permission) value="target.value"}}>
          <option selected={{eq user.permission "Waiter"}}>Waiter</option>
          <option selected={{eq user.permission "Admin"}}>Admin</option>
        </select>
      </div>
    </div>
  </div>
  <div class="input-row align-right">
    <button {{action (mut isShowingPassword) true on="mouseDown"}} class="gray" type="button">Passwort ändern</button>
    {{modal-changepassword showModal=isShowingPassword user=user}}
    <button class="gray" type="button">Passwort zurücksetzen</button>
  </div>
  <div class="input-row align-right">
    <button {{action "updateUser" user}} class="save" type="button">Speichern</button>
    <button class="delete"><span class="material-icons">delete</span>Löschen</button>
  </div>
</div>
