<div class="single-table {{if isEnabled 'available'}}" {{action 'toggleEditable'}}>
  <p>{{table.name}}</p>
</div>
<div class="editarea">
  <div class="input-row">
    <div class="input-element">
      <label>Name</label>
      {{input value=table.name}}
    </div>
    <div class="input-element">
        <label>Bereich</label>
        <div class="select-wrapper">
          <select name="area" onchange={{action "changeRelation" table}}>
            {{#each areas as |area|}}
              <option selected={{eq area.id table.area.id}} value="{{area.id}}">{{area.name}}</option>
              {{else}}
            {{/each}}
          </select>
      </div>
    </div>
  </div>
   <div class="input-row">
      <button {{action 'toggleButton' table 'enabled' table.enabled}} class="{{if table.enabled 'toggle' 'gray'}}">{{if table.enabled 'aktiviert' 'deaktiviert'}}</button>
      <button {{action 'updateTable' table}} class="save">Speichern</button>
      <button {{action 'destroyTable' table}} class="delete"><span class="material-icons">delete</span>Löschen</button>
    </div>
</div>