<div class="singleuserbar" {{action "toggleEditable"}}>
  {{#unless isNew}}
    <div class="singleusername">{{user.username}}</div>
    <div class="singleauth">{{user.permission}}</div>
    <div class="singlepwindicator material-icons">vpn_key</div>
    <div class="singleeditindicator material-icons">{{#if isOpen}}keyboard_arrow_down{{else}}mode_edit{{/if}}</div>
  {{else}}
    <div class="singleusername">{{t 'new.user'}}</div>
        <div class="singleeditindicator material-icons">close</div>

  {{/unless}}
</div>
{{#if isOpen}}
    <div class="editsingleuser editarea">
      <div class="input-row">
        <div class="input-element">
          <label for="username">{{t 'labels.username'}}</label>
          {{input type="text" value=user.username name="username"}}
        </div>
        <div class="input-element">
          <label for="firstname">{{t 'labels.firstname'}}</label>
          {{input type="text" value=user.firstname name="firstname"}}
        </div>
        <div class="input-element">
          <label for="lastame">{{t 'labels.lastname'}}</label>
          {{input type="text" value=user.lastname name="lastname"}}
        </div>
        <div class="input-element">
          <label for="authentication">{{t 'labels.permission'}}</label>
          <div class="select-wrapper">
            <select onchange={{action (mut user.permission) value="target.value"}}>
              <option selected={{eq user.permission "Waiter"}}>{{t 'permissions.waiter'}}</option>
              <option selected={{eq user.permission "Admin"}}>{{t 'permissions.admin'}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="input-row align-right">
        {{#unless isNew}}
            <button {{action (mut isShowingPassword) true on="mouseDown"}} class="gray" type="button">{{t 'buttons.changePassword'}}</button>
            {{modal-changepassword showModal=isShowingPassword user=user}}
        {{else}}
          <label for="password">Passwort</label>
          {{input type="password" value=user.password name="password"}}
        {{/unless}}
      </div>
      <div class="input-row align-right">
        <button class="save" {{action "updateUser"}}>{{t 'buttons.save'}}</button>
        {{#unless isNew}}<button class="delete" {{action "destroyUser"}}><span class="material-icons">delete</span>{{t 'buttons.delete'}}</button>{{/unless}}
      </div>
    </div>
{{/if}}